.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  justify-content: space-between;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
