@font-face {
  src: url("../../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-family: "Inter";
}

@font-face {
  src: url("../../fonts/Inter/Inter-Bold.woff2") format("woff2"),
    url("../../fonts/Inter/Inter-Bold.woff") format("woff");
  font-family: "Inter";
  font-weight: bold;
}

@font-face {
  src: url("../../fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("../../fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-family: "Inter";
  font-weight: 700;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
}
