.footer__column-link {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration-line: none;
  list-style-type: none;
}

.footer__column-link:hover {
  color: white;
}

.footer__column-link:active {
  color: white;
}
