.footer__column-link {
  margin: 0 0 10px;
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration-line: none;
  list-style-type: none;
  transition: opacity 0.2s linear;
}

.footer__column-link:hover {
  opacity: 0.4;
}

.footer__column-link:active {
  color: white;
}
