.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration-line: none;
  color: #2f80ed;
  transition: opacity 0.2s linear;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__link:active {
  color: #2f80ed;
}
